
*{
    font-family: Ubuntu, sans-serif;   
 }
   
.navH{
    width: 80%;
}
.navH:hover{
    background-color: #fe9119;
    color: white;
    border-radius: 10px;
    padding: 5px 0px 5px 0px;
}

.tagLine {
    /* display: flex; */
    justify-content: center;
    margin-top: 20px;
  }
  
  #madeByAbhishek {
    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    animation: tagline 10s  infinite alternate;;
    border-right: 3px solid #fe9119; 
  }
  
  @keyframes tagline {
      0% {
          width: 0ch;
      }
      50% {
          width: 23.5ch;
      }
  }
  
  
  @media screen and (max-width: 800px) {
    .mainBox {
        gap: 30px;
    }
  
    .box {
        min-height: 180px;
    }
  
    textarea {
        min-height: 180px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .mainBox {
        grid-template-columns: repeat(1, 1fr);
        gap: 60px;
    }
  
    .box {
        min-height: 150px;
        margin-top: 20px;
    }
  
    textarea {
        min-height: 150px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .navbar>h1{
        font-size: 28px;
    }
  }
  
/* -----------------------scroll----------------- */

::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background:white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fe9119;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fe9119;
}


  .mainDiv{
    padding-top: 70px;
  }
  .mainDivProject{
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .AboutList>li{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 380;
    
  }
  .ProjectDiv>div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 2px solid #fe8f191b;
  }

  .ProjectDiv>div:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }


  
  .ProjectIcon>a>svg:hover{
    color: #fe9119;
  }

  .SkillsDiv>div{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  .SkillsDiv>div:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  #Message{
    width:99%;
    margin-top: 16px;
    border-bottom:1px solid grey;
  }
.form-control{
  font-size: 17px;
}
.github_Calender{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

@media all and (min-width: 0px) and (max-width: 779px) {
.HomeMain{
  display: grid;
  grid-template-areas: 
  "B"
  "A"
  ;
  gap: 50px;
}
.HomeBox1{
grid-area: A;
}
.HomeBox2{
grid-area: B;

}
}